/*------------------------------------------------------------------------------------------
CORE v3.5 - Form Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}


/*=== GLOBAL FORM ELEMENTS ================================================================*/

form, legend, label								{color:#333;}
input, select, button							{color:#666; cursor:pointer;}

form											{position:relative;}
fieldset, input, select, textarea, label		{display:block;}
fieldset										{border:0;}
label											{clear:both; font-weight:bold;}
input, select									{
												@include border-radius(#{size(3)}em, all);
												border:2px solid #DEDED0;
												padding:2px;
												width:100%;
												max-width:#{size(300)}em;
												}

select											{
												width:100%;
												max-width:#{size(307)}em;
												} /* Make sure to add 7px from the input width value */
textarea										{
												width:100%;
												max-width:#{size(307)}em;
												height:auto;
												}
input:hover,
select:hover									{
												border:2px solid #c4c4b4;
												}
legend											{
												padding:0;
												}
fieldset ol										{margin:0; padding:0; list-style-position:outside;}
fieldset ol li									{
												list-style-type:none;
												margin:0 0 #{size(10)}em 0;
												}

input[type="hidden"]							{display:none;}
input[type="checkbox"],
input[type="radio"]								{
												border:0;
												display:inline;
												width:#{size(18)}em;
												}
												
input[type="text"]								{
	&:valid											{
													color:#666;
													}
	&:invalid										{
													color:red;
													}
												}
												
:invalid										{
												box-shadow: none;
												}
												
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="range"],
input[type="url"],
input[type="tel"],
input[type="week"],
input[type="datetime-local"],
input[type="color"]								{
												-webkit-appearance:none;
												}

/*=== UI FORM =============================================================================*/
.ui-form										{
	
	// INLINE FORM ELEMENTS
	.ui-form-inline-element							{
													display:inline-block;
													width:auto;
													}

	// FIELDHINT STYLES
	.fieldhint-color								{color:#b5aaa9;}

	// INPUT ELEMENT SPACING
	input, select 									{
													margin-top:#{size(2)}em;
													}

	// RADIO AND CHECKBOX STYLES
	.chx-radio										{
													display:block;
													margin:0 0 #{size(10)}em 0;

		#opt_in_text 									{
														border:0;
														clear:both;
														display:inline;
														margin-right:#{size(3)}em;
														width:auto;
														}
		label											{
														font-weight:normal;
														position:relative;
														top:#{size(2)}em;
														}

													}

	// DEFAULT LAYOUT FOR OPT IN EMAIL

	.email-opt-in									{

		.email											{
														border:2px solid #DEDED0;
														vertical-align:#{size(-2)}em;
			&:hover											{
															border:2px solid #c4c4b4;
															}
														}
		.email-label									{
														font-weight:bold;
														}
		.email-optin-label								{
														margin-top:#{size(5)}em;
														font-size:#{size(13)}em;
														line-height:#{size(20)}em;
			input											{
															margin-right:#{size(1)}em;
															width:#{size(18)}em;
															}
														}

													}

	// DEFAULT ADDRESS FIELDSET LAYOUT

	.city-zip-lyt									{
													@include clearfix;

		.city-label										{
														margin-bottom:#{size(5)}em;
														}
		.zip-label										{
														clear:none;
														display:block;
														float:left;
														width:auto !important;
														}
		.state-label									{
														@extend .zip-label;
														margin-right:#{size(10)}em;
			select 											{
															width:auto;
															}
														}
		.zip											{
														width:#{size(60)}em;
														}

													}
													
												}

/*--- INLINE FORM ELEMENTS -------------------------------------------------------------------
Use the class of ui-form-inline on the form element, it will place the labels to the left of inputs
--------------------------------------------------------------------------------------------*/

.ui-form-inline									{
												
	label											{
													display:inline-block;
													}
	input,
	textarea,
	select 											{
													display:inline;
													}

	.city-zip-lyt									{
		
		label											{
														clear:none;
														float:left;
														width:auto !important;
														margin-left:#{size(5)}em;
														margin-right:0 !important;
			&:first-child									{
															margin-left:0;
															}

														}
		input,
		select 											{
														width:auto;
														display:block;
														}

													}

												}


/*--- UI HELP TEXT --------------------------------------------------------------------*/
.ui-help-text									{
												color:#666;
												font-style:italic;
												font-weight:normal;
												display:block;
												}

/*--- UI FORM ACTION ROW -------------------------------------------------------------------*/
.ui-form-action									{
												margin:#{size(10)}em 0 0 0;
												-webkit-margin-top-collapse:separate;
												}


/*=== ERROR, NOTICE, INFO & SUCCESS ========================================================*/

/*--- ERROR, NOTICE, INFO & SUCCESS CONTAINERS ---------------------------------------------*/
.error-ctn, .alert-ctn,
.notice-ctn,
.success-ctn,
.info-ctn										{
												@include border-radius(.65em, all);
												border:2px solid #DDDDDD;
												margin-bottom:#{size(13)}em;
												padding:#{size(10.4)}em;
												}

/*--- ERROR HANDLING -----------------------------------------------------------------------*/
.error-ctn, .alert-ctn							{
												background-color:#FBE3E4;
												border-color:#FBC2C4;
												color:#8A1F11;
												}
.error-ctn, .alert-ctn							{
	a												{
													color:#8A1F11;
													}
												}
.error-text										{
												color:#8A1F11;
												font-weight:normal;
												}

.error											{
												background-color:#FBE3E4;
												border-color:#FBC2C4;
												color:#333;
												}

.ui-form										{

	.error, .error:hover							{
													@extend .error;
													}
												
												}

/*--- NOTICE HANDLING ----------------------------------------------------------------------*/
.notice-ctn										{
												background-color:#FFF6BF;
												border-color:#FFD324;
												color:#514721;
	a												{
													color:#514721;
													}
												}

/*--- INFO HANDLING ------------------------------------------------------------------------*/
.info-ctn										{
												background-color:#D5EDF8;
												border-color:#92CAE4;
												color:#205791;
	a												{
													color:#205791;
													}
												}

/*--- SUCCESS HANDLING ---------------------------------------------------------------------*/
.success-ctn									{
												background-color:#E6EFC2;
												border-color:#C6D880;
												color:#264409;
	a												{
													color:#264409;
													}
												}