/*------------------------------------------------------------------------------------------
CORE v3.5 - Grid Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

//--- HTML VARS -----------------------------------------------------------------------------
$html-min-height:100%;

//--- GRID VARS -----------------------------------------------------------------------------
$grid-adjust-width:100%;
$grid-max-width:980px;
$grid-min-width:320px;
$grid-min-height:550;
$grid-col-width:4.25%; // 40px
$grid-col-gutter-width:2.04%; // 20px

$grid-col-width-reset:4.166%; // 40px

//--- GRID COLUMN WIDTH FUNCTION ------------------------------------------------------------
@function col-width($n) {
	@return $n * $grid-col-width - $grid-col-gutter-width;
}

@function col-width-reset($n) {
	@return $n * $grid-col-width-reset;
}

/*=== HTML SETUP ==========================================================================*/
html				{
					min-height:$html-min-height;
					height:auto !important;
					height:$html-min-height;
					}

/*=== MASTHEAD & FOOTER SETUP =============================================================*/
.masthead,
.footer				{
					@include clearfix;
					position:relative;
					text-align:left;
					}
.masthead			{
					margin-bottom:#{size(15)}em;
					padding:#{size(15)}em 0;
					}
.footer				{
					margin-top:#{size(15)}em;
					padding:#{size(15)}em 0 0 0;
					}
.masthead-adjust,
.footer-adjust		{
					@include clearfix;
					width:$grid-adjust-width;
					margin:0 auto;
					max-width:$grid-max-width;
					min-width:$grid-min-width;
					padding:0 #{size(30)}em;
					}


/*=== GRID SETUP ==========================================================================*/

/*--- GRID ADJUST -------------------------------------------------------------------------*/
.grid				{
					@include clearfix;
					text-align:left;
					display:block;
					padding:0 #{size(30)}em;
					}
.grid-adjust		{
					width:$grid-adjust-width;
					margin:0 auto;
					max-width:$grid-max-width;
					min-width:$grid-min-width;
					}
					/* GRID ADJUST NOTES
					THE FOLLOWING SHOULD BE AN OVERRIDE IN PRODUCT SPECIFIC STYLESHEET
					If you need to the grid to be 100% of the page just leave grid adjust empty, if you
					need a fixed layout for grid then use the below:
					{margin:0 auto; width:980px;}*/

/*--- GRID MIN HEIGHT ---------------------------------------------------------------------*/
.min-height			{
					min-height:#{size($grid-min-height)}em;
					height:auto !important;
					height:#{size($grid-min-height)}em;
					}

/*--- GRID GLOBAL ATTRIBUTES  -------------------------------------------------------------*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16,
.col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24
					{
					float:left;
					margin-right:$grid-col-gutter-width;
					min-height:$grid-col-gutter-width;
					padding:0;
					}

.grid-nomargin		{
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
	.col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16,
	.col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24
						{
						margin-right:0;
						}
					}

/*--- GRID PRESETS  -----------------------------------------------------------------------*/
.col-1				{width:col-width(1);}
.col-2				{width:col-width(2);}
.col-3				{width:col-width(3);}
.col-4				{width:col-width(4);}
.col-5				{width:col-width(5);}
.col-6				{width:col-width(6);}
.col-7				{width:col-width(7);}
.col-8				{width:col-width(8);}
.col-9				{width:col-width(9);}
.col-10				{width:col-width(10);}
.col-11				{width:col-width(11);}
.col-12				{width:col-width(12);}
.col-13				{width:col-width(13);}
.col-14				{width:col-width(14);}
.col-15				{width:col-width(15);}
.col-16				{width:col-width(16);}
.col-17				{width:col-width(17);}
.col-18				{width:col-width(18);}
.col-19				{width:col-width(19);}
.col-20				{width:col-width(20);}
.col-21				{width:col-width(21);}
.col-22				{width:col-width(22);}
.col-23				{width:col-width(23);}
.col-24				{width:col-width(24);}

/*--- GRID PRESETS  -----------------------------------------------------------------------*/
.grid-nomargin		{
	.col-1				{width:col-width-reset(1);}
	.col-2				{width:col-width-reset(2);}
	.col-3				{width:col-width-reset(3);}
	.col-4				{width:col-width-reset(4);}
	.col-5				{width:col-width-reset(5);}
	.col-6				{width:col-width-reset(6);}
	.col-7				{width:col-width-reset(7);}
	.col-8				{width:col-width-reset(8);}
	.col-9				{width:col-width-reset(9);}
	.col-10				{width:col-width-reset(10);}
	.col-11				{width:col-width-reset(11);}
	.col-12				{width:col-width-reset(12);}
	.col-13				{width:col-width-reset(13);}
	.col-14				{width:col-width-reset(14);}
	.col-15				{width:col-width-reset(15);}
	.col-16				{width:col-width-reset(16);}
	.col-17				{width:col-width-reset(17);}
	.col-18				{width:col-width-reset(18);}
	.col-19				{width:col-width-reset(19);}
	.col-20				{width:col-width-reset(20);}
	.col-21				{width:col-width-reset(21);}
	.col-22				{width:col-width-reset(22);}
	.col-23				{width:col-width-reset(23);}
	.col-24				{width:col-width-reset(24);}
					}

/*--- GRID LAST ADJUST  ------------------------------------------------------------------*/
.last				{margin-right:0;}