/*------------------------------------------------------------------------------------------
CORE v3.5 - Page Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}


/*----- HR ELEMENTS -----------------------------------------------------------------*/
hr								{
								background-color:#FFF;
								border:0;
								border-top:1px solid #CCC;
								clear:both;
								color:#FFF;
								display:block;
								height:#{size(2)}em;
								margin:#{size(15)}em 0;
								}

/*--- ICON SPRITE  -------------------------------------------------------*/
.ui-icn-sprite					{
								background-color:transparent;
								background-repeat:no-repeat;
								background-position:0 0;
								display:inline-block;
								} /* Icon sprite call and setup */

/*--- BASIC TABLE STYLES ------------------------------------------------------------------*/
table							{
								width:100%;
								border:1px dotted #CCC;
								border-collapse:collapse;
								border-spacing:0;
								color:#000;
								margin-bottom:#{size(15)}em;

	caption							{
									padding:#{size(1)}em 0 #{size(5)}em 0;
									font-weight:bold;
									text-align:left;
									}
	th								{
									background-color:#ccc;
									border-right:1px solid #FFF;
									padding:#{size(5)}em #{size(4)}em;
									text-align:left;
		&.last-child, &:last-child		{
										border-right:0;
										}
									}
	td								{
									border:1px dotted #CCC; // 1px/13px
									padding:#{size(3)}em #{size(4)}em;
									}
	.even							{

		td								{
										background-color:#fff;
										}
									}
	.odd							{

		td								{
										background-color:#efefef;
										}
									}

								}


/*--- BASIC IMAGE STYLES ------------------------------------------------------------------*/
img								{
								max-width:100%;

	&.left							{
									float:left;
									margin:#{size(4.5)}em #{size(15)}em #{size(15)}em 0;
									}
	&.right							{
									float:right;
									margin:#{size(4.5)}em 0 #{size(15)}em #{size(15)}em;
									}

								}

/*--- HORIZONTAL NAVIGATION SETUP ---------------------------------------------------------*/
.link-list-horz					{
								padding:0;
								margin:0;
								
	dd,li							{
									display:inline;
									padding:0;
									margin:0 #{size(6)}em 0 0;
									
		a								{
										display:inline-block;
										padding:0 #{size(8)}em 0 0;
										margin:0;
										}
									
									}
								
								}