/*------------------------------------------------------------------------------------------
CORE v3.5 - Reset Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video									{margin:0; padding:0; border:0; outline:0; font-size:100%; font:inherit; background:transparent;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section					{display:block;}

textarea, input, select										{font-family:inherit; font-size:100%; font-weight:normal; font-style:normal; white-space:normal; text-align:left; margin:0; padding:0;}

ol, ul														{list-style:none;}
nav ul														{list-style-type:none;}
blockquote:before, blockquote:after, q:before, q:after		{content: "";}
blockquote, q												{quotes: "" "";}
:focus														{outline:0;}

button::-moz-focus-inner									{border-color:transparent;}

del, ins 													{text-decoration:none; text-decoration:line-through;}

/*--- No styles for hidden inputs in older versions of Firefox ----------------------------*/
input[type="hidden"]										{margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; border:0px;}

/*--- Tables still need 'cellspacing="0"' in the HTML markup ------------------------------*/
table														{border-collapse:separate; border-spacing:0; background-color:transparent; width:auto; height:auto;}

.never														{display:none;} /*USED TO SET ANY ITEMS VISIBILITY TO NONE*/

/*--- BOX MODEL RESET ---------------------------------------------------------------------*/
*															{-moz-box-sizing:border-box; box-sizing:border-box;}

/*--- HIDE TRACKING PIXEL ---------------------------------------------------------------------*/
.tracking													{position:absolute;}
