/*------------------------------------------------------------------------------------------
UI Slider CSS
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

/*--- SLIDER SETUP ------------------------------------------------------------------------*/
.ui-slider 						{
								position:relative;
								text-align:left;
								display:inline-block;
								width:100%;
								
	/*--- SLIDER HANDLE -------------------------------------------------------------------*/
	.ui-slider-handle				{
									@include border-radius(#{size(30)}em,all);
									@include background-gradient(#efefef,#cccccd);
									@include box-shadow(0,1px,3px,#999);
									border:1px solid #999;
									position:absolute;
									top:#{size(-6.5)}em;
									z-index:1;
									width:#{size(15.6)}em;
									height:#{size(15.6)}em;
									margin-left:#{size(-3)}em;
									cursor:pointer;
									border-radius/*\**/:0\9; /* IE8 */
									}
	.ui-state-default 				{
									border:1px dotted #CCC;
									background-color:#EFEFEF;
									font-weight:normal;
									color:#555555;
									outline:none;
									}
	.ui-state-default,
	.ui-state-focus					{
									border:1px solid #999;
									@include background-gradient(#efefef,#cccccd);
									}
	.ui-state-hover					{
									border:1px solid #999;
									@include background-gradient(#cccccd,#b3b3b3);
									}
	.ui-state-active 				{
									border:1px solid #999;
									@include background-gradient(#cccccd,#b3b3b3);
									}
								}

/*--- SLIDER BAR --------------------------------------------------------------------------*/
.ui-slider-horizontal 			{
								@include border-radius(#{size(6)}em,all);
								background-color:#dcdbdb;
								background-image:-moz-linear-gradient(top, #efefef, #dcdbdb); /* FF3.6 */
								background-image:-o-linear-gradient(top, #efefef, #dcdbdb); /* Opera 11.10+ */
								background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #dcdbdb)); /* Saf4+, Chrome */
								background-image:-webkit-linear-gradient(#efefef, #dcdbdb); /* Chrome 10+, Saf5.1+ */
								background-image:linear-gradient(top, #efefef, #dcdbdb);
								border:1px solid #ccc;
								height:#{size(5)}em;
								color:#222222;
								}