/*------------------------------------------------------------------------------------------
CORE v3.5 - Responsive Design Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:16; // 16px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

//=== MEDIA QUERIES =========================================================================

/*--- Portrait iPhone, landscape iPhone, portrait smart phones -----------------------------*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
			
	/*=== _TYPE.SCSS ==========================================================================*/
	// Remember to change the font-size on the body tag to correspond to the context, for example:
	// if the context size is 10 (10px) you need to change the body font-size to .625em or 62.5%.
	// 62.5% on the body is 62.5% of 16px which is the base font size for most browsers,
	// giving you a base of 10px
	
	body											{
													font-size: 1em; // 16px
													}
			
	/*=== _GRID.SCSS ===========================================================================*/

	/*--- GRID GLOBAL ATTRIBUTES  --------------------------------------------------------------*/
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
	.col-7, .col-8, .col-9, .col-10, .col-11, 
	.col-12, .col-13, .col-14, .col-15, .col-16, 
	.col-17, .col-18, .col-19, .col-20, .col-21, 
	.col-22, .col-23, .col-24						{
													clear:both;
													float:none;
													width:100%;
													}
													
	.grid-nomargin									{
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
		.col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16,
		.col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24
														{
														clear:both;
														float:none;
														width:100%;
														}
													}
													
	/*=== _FORM.SCSS ===========================================================================*/
	.ui-form										{

		// DEFAULT ADDRESS FIELDSET LAYOUT
		.city-zip-lyt									{
			.state-label									{
															clear:both;
															margin:0;
															}
														}
													}
													
	/*=== _PAGE.SCSS ==========================================================================*/
	
	/*--- VERTICAL NAVIGATION SETUP -----------------------------------------------------------*/
	.mb-link-list-vert								{
													padding:0;
													margin:0;
		dd,li											{
														display:block;
														padding:0;
														margin:0;
														border-bottom:1px solid #ccc;
			a												{
															display:block;
															padding:#{size(15)}em;
															margin:0;
															}
			.pipe											{
															display:none;
															}
														}
													}
													
	/*=== _UI_BTN.SCSS ========================================================================*/
	
	/*--- BUTTON GROUP ------------------------------------------------------------------------*/
	.ui-btn-grp-horz								{
		.ui-btn											{
			.x-small	 									{
															min-width:2em;
															}
			.small	 										{
															min-width:3em;
															}
			.medium	 										{
															min-width:4em;
															}
			.large	 										{
															min-width:2.5em;
															}
														}
													}
	
	/*=== _UI_TOOLTIP.SCSS =====================================================================*/
	.ui-tooltip-ctn									{
													max-width:55% !important;
		p												{
														margin:0;
														font-size:#{size(11)}em;
														line-height:#{size(22)}em !important;
														}
													}
}

/*--- Portrait e-readers (Nook/Kindle/Kindle Fire) ---------------------------------------------*/
@media only screen and (min-width : 481px) and (max-width : 640px) {
	
	/*=== _FORM.SCSS ===========================================================================*/
	.ui-form										{

		// DEFAULT ADDRESS FIELDSET LAYOUT
		.city-zip-lyt									{
			.state-label									{
															clear:both;
															margin:0;
															}
														}
													}

	/*=== _UI_TOOLTIP.SCSS =====================================================================*/
	.ui-tooltip-ctn									{
													max-width:40% !important;
													}
}

/*--- Portrait iPad, portrait tablets ---------------------------------------------------------*/
@media only screen and (min-width : 641px) and (max-width : 768px) {
			
	/*=== _UI_BTN.SCSS ========================================================================*/
	
	/*--- BUTTON GROUP ------------------------------------------------------------------------*/
	.ui-btn-grp-horz								{
		.ui-btn											{
			.large	 										{
															min-width:5em;
															}
														}
													}
}

/*--- Low-resolution laptops and desktops -----------------------------------------------------*/
@media only screen and (min-width : 769px) and (max-width : 980px) {

	/*=== _UI_BTN.SCSS ========================================================================*/
	
	/*--- BUTTON GROUP ------------------------------------------------------------------------*/
	.ui-btn-grp-horz								{
		.ui-btn											{
			.large	 										{
															min-width:5em;
															}
														}
													}
}

/*--- Landscape iPad, laptops and desktops beyond 980px ---------------------------------------*/
@media only screen and (min-width : 981px) and (max-width : 1024px) {
			
	/*=== _UI_BTN.SCSS ========================================================================*/
	
	/*--- BUTTON GROUP ------------------------------------------------------------------------*/
	.ui-btn-grp-horz								{
		.ui-btn											{
			.large	 										{
															min-width:5em;
															}
														}
													}
}

/*--- Big landscape tablets, laptops and desktops beyond 980px ----------------------------*/
@media only screen and (min-width : 1025px) and (max-width : 1280px) {

}

/*--- Hi-res laptops and desktops ---------------------------------------------------------*/
@media only screen and (min-width : 1281px) {

}