/*------------------------------------------------------------------------------------------
UI Date Picker CSS
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

//--- SPRITE VARS ---------------------------------------------------------------------------
$website-sprite:#{url(/images/core/icon_sprite.png)};

/*--- DATEPICKER ---------------------------------------------------------------------------*/
.ui-datepicker		{
					@include border-radius(#{size(6)}em,all);
					@include box-shadow(0, 0, #{size(5)}em, #999);
					width:#{size(178)}em;
					margin-top:#{size(5)}em;
					padding:#{size(2)}em;
					background-color:#fff;
					border:1px solid #ccc;
					font-size:#{size(16)}em;
					display:none;
	table				{
						width: 100%;
						border-collapse: collapse;
						font-size:#{size(10)}em;
						margin:0;
		th					{
							background-color:#fff;
							color:#666;
							padding:#{size(7)}em #{size(3)}em;
							text-align:center;
							width:25px;
							border:1px solid #f7f7f7;
							}
		td					{
							padding:0;
							text-align:center;
							height:20px;
							width:25px;
							border:1px solid #f7f7f7;
			a					{
								display: block;
								padding:#{size(7)}em #{size(2)}em;
								color:#666;
								text-decoration: none;
								}
							}
						}
	.ui-datepicker-header
						{
						@include background-gradient(#EFEFEF,#cbcccc);
						@include border-radius(#{size(6)}em #{size(6)}em 0 0,all);
						padding:#{size(4)}em 0;
						font-size:#{size(11)}em;
						position:relative;
		.ui-icon			{
							text-indent: -99999px;
							width:12px;
							height:12px;
							overflow: hidden;
							background-repeat: no-repeat;
							background-image:$website-sprite;
							}
		.ui-datepicker-prev,
		.ui-datepicker-next {
							position:absolute;
							top: 2px;
							width: 1.8em;
							height: 1.8em;
							cursor:pointer;
							}
		.ui-datepicker-prev:hover,
		.ui-datepicker-next:hover
							{
							background-color:transparent;
							}
		.ui-datepicker-prev	{
							top:2px;
							left:1px;
			.ui-icon			{
								background-position:0 -1249px;
								}
							}
		.ui-datepicker-next	{
							top:2px;
							right:1px;
			.ui-icon			{
								background-position:-32px -1249px;
								}
							}
		.ui-datepicker-prev:hover
							{
							top:2px;
							left:1px;
							}
		.ui-datepicker-next:hover
							{
							top:2px;
							right:1px;
							}
		.ui-datepicker-prev,
		.ui-datepicker-next
							{
			span				{
								display: block;
								position: absolute;
								top:62%;
								left:59%;
								margin-left: -8px;
								margin-top: -8px;
								}
							}
		.ui-datepicker-title
							{
							margin: 0 2.3em;
							line-height: 1.8em;
							text-align: center;
							font-weight:bold;
							color:#333;
			select				{
								float:left;
								font-size:1em;
								margin:1px 0;
								}
			select.ui-datepicker-month-year
								{
								width: 100%;
								}
			select.ui-datepicker-month,
			select.ui-datepicker-year
								{
								width: 49%;
								}
			select.ui-datepicker-year
								{
								float: right;
								}
							}
		.ui-datepicker-buttonpane
							{
							background-image: none;
							margin: .7em 0 0 0;
							padding:0 .2em;
							border-left: 0;
							border-right: 0;
							border-bottom: 0;
			button				{
								float: right;
								margin: .5em .2em .4em;
								cursor: pointer;
								padding: .2em .6em .3em .6em;
								width:auto;
								overflow:visible;
								}
			button.ui-datepicker-current
								{
								float:left;
								}
							}
						}
	.ui-state-highlight,
	.ui-state-highlight:hover
						{
						background-color: #dcdcdc;
						}
						
	.ui-state-active,
	.ui-state-active:hover
						{
						background-color: #bfe7fa;
						font-weight:bold;
						color:#317bc0 !important;
						}
	.ui-state-hover		{
						background-color: #efefef;
						}
					}

/* with multiple calendars */
.ui-datepicker-multi
					{
					width:auto;
	.ui-datepicker-group
						{
						float:left;
		table 				{
							width:95%;
							margin:0 auto .4em;
							}
						}
	.ui-datepicker-group-last
						{
		.ui-datepicker-header
							{
							border-left-width:0;
							}
						}
	.ui-datepicker-group-middle
						{
		.ui-datepicker-header
							{
							border-left-width:0;
							}
						}
	.ui-datepicker-buttonpane
						{
						clear:left;
						}
					}
					
.ui-datepicker-multi-2
					{
	.ui-datepicker-group
						{
						width:50%;
						}
					}
					
.ui-datepicker-multi-3
					{
	.ui-datepicker-group
						{
						width:33.3%;
						}
					}
					
.ui-datepicker-multi-4
					{
	.ui-datepicker-group
						{
						width:25%;
						}
					}