/*------------------------------------------------------------------------------------------
UI Autocomplete CSS
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

.ui-menu				{
						@include border-radius(0 0 6px 6px,all);
						position:absolute;
						z-index:10010;
						padding:0;
						margin:0;
						display:block;
						max-width:#{size(304)}em;
						list-style:none;
						background-color:#EFEFEF;
						border:2px solid #DEDED0;
						border-top:0;
	.ui-menu-item			{
							margin:0;
							padding:0;
							width:100%;
							border-top:1px solid #fff;
							border-bottom:1px solid #ccc;
							text-shadow:-1px -1px 1px #fff;
							font-weight:bold;
							color:#000;
		a 						{
								text-decoration:none;
								display:block;
								padding:.2em .4em;
								line-height:1.25em;
								height:auto;
								}
		.ui-state-hover,
		.ui-state-active		{
								@include background-gradient(#999998,#333334);
								color:#fff;
								text-shadow:-1px -1px 1px #333;
								}
								
		/* styles for secondary text in autocomplete list item */
		.ui-menu-secondary		{
								display:block;
								color:#999;
								font-weight:normal;
								}
							}
	.ui-menu-item:first-child
							{
							border-top:0;
							}
							
	/* styles for autocomplete list item hover and active state on last item */
	.ui-menu-item:last-child
							{
							border-bottom:0;
		.ui-state-hover,
		.ui-state-active		{
								@include border-radius(0 0 6px 6px,all);
								}
							}
						}