@mixin border-radius($radius, $side:all, $side-legacy:topleft) {
	@if $side == all {
		-moz-border-radius:$radius;
		-webkit-border-radius:$radius;
		-o-border-radius:$radius;
		border-radius:$radius;
	}
	@else {
		-moz-border-radius-#{$side-legacy}:$radius;
		-webkit-border-#{$side}-radius:$radius;
		-o-border-#{$side}-radius:$radius;
		border-#{$side}-radius:$radius;
	}
}